{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for user in users %}
            {{ user.username }}
            {% if role == 'ROLE_ADMIN' %}
                Administrateur
            {% endif %}
            {% else %}
                Utilisateur
            {% endelse %}
        {% endfor %}
    </div>
    <a href="{{ path('user')}}">Retour</a>
    <a href="{{ path('security_logout')}}">Se déconnecter</a>

{% endblock %}