{# templates/lucky/number.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Number</title>
</head>
<body>
    <h1>Your lucky number is {{ number }}</h1>

    <a href="{{ path('app_lucky_number1') }}">Number1</a>
    <a href="{{ path('app_lucky_number1') }}">Number2</a>
</body>
</html>